@{
    ViewData["Title"] = "BlogSingle";
}


<!-- BREADCRUMBS -->
<div class="pxsnap_breadcrumbs">
    <div class="pxsnap_breadcrumbs_content">
        <div class="container">
            <p>
                <a asp-controller="Home" asp-action="Index">Home</a>
                /
                <a asp-controller="Blog" asp-action="Index">Blog</a>
                /
                <span>The Miracle Of Fashion</span>
            </p>
        </div>
    </div>
</div>

<!-- BLOG SINGLE -->
<div class="pxsnap_blog_single_wrap">
    <div class="pxsnap_blog_single">
        <div class="blog_single">
            <div class="container">
                <div class="blog_single_wrapper">

                    <!-- POST IMAGE -->
                    <div class="post_img">
                        <div class="bg-img jarallax" data-speed=".55"></div>
                    </div>
                    <!-- /POST IMAGE -->
                    <!-- POST CONTENT -->
                    <div class="post_content">
                        <div class="title_holder">
                            <span><a href="#">Fashion</a><span class="date">April 01</span></span>
                            <h3>The Miracle Of Fashion</h3>
                            <p class="post_intro">This is just hightlight content of the post. Rest goes as it should be.  Integer non augue et dui sagittis pellentesque. Pellentesque viverra vitae mi a luctus. Suspendisse id ligula molestie, mollis dolor vitae, sagittis diam. Sed vitae malesuada dolor. </p>
                            <p class="text">Cras cursus commodo nisl, eget facilisis ipsum molestie ac. Nullam vel sem congue, feugiat risus ut, efficitur velit. Nam tincidunt in mi at porttitor.Vivamus ullamcorper purus a purus dapibus pellentesque. Sed tristique pretium ipsum at commodo. Nullam viverra iaculis tortor, sed dictum mauris.</p>
                            <p class="text">Nullam maximus eget odio nec elementum. Aliquam convallis in mauris vulputate mattis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis ultrices, mi non ultricies sagittis, sem erat consequat justo, ac imperdiet justo felis id felis. Fusce ac lacus lorem. Vivamus ullamcorper purus a purus dapibus pellentesque. Sed tristique pretium ipsum at commodo. Nullam viverra iaculis tortor, sed dictum mauris. </p>
                        </div>
                        <div class="pxsnap_tags">
                            <label>Tags:</label>
                            <em><a href="#">Fashion</a>,<a href="#">Girls</a>,<a href="#">Smile</a>,<a href="#">Beauty</a></em>
                        </div>
                        <div class="pxsnap_social_icons">
                            <label>Share:</label>
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="xcon-facebook-1"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="xcon-twitter-1"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="xcon-instagram"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="xcon-pinterest-1"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="xcon-gplus-1"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- /POST CONTENT -->
                    <!-- POST COMMENT -->
                    <div class="pxsnap_comment_wrapper">
                        <div class="pxsnap_comment">

                            <!-- COMMENTS -->
                            <div class="comments">

                                <div class="title_holder">
                                    <h3>All Comments</h3>
                                </div>

                                <!-- #1 COMMENT -->
                                <div class="comment_single_wrap">
                                    <div class="comment_single">
                                        <div class="person_info">
                                            <div class="info">
                                                <div class="img_holder">
                                                    <img src="img/blog/single1-com1.jpg" alt="" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="person_comment">
                                            <div class="inner">
                                                <h5>Stuart Poole</h5>
                                                <span><span class="date">3 Month ago</span><a href="#">Reply</a></span>
                                                <p>Fusce eu pellentesque arcu. Nullam vehicula dui in massa aliquam consequat. Nunc nec lacus et justo tempus porta id ut ipsum. Nunc congue erat ipsum, at semper leo tristique in. Pellentesque blandit molestie hendrerit. Sed ultrices eleifend risus eu convallis. Cras lacinia interdum ligula id posuere. Sed nec diam libero. Nunc arcu orci, mollis nec condimentum tincidunt, facilisis in nunc. Quisque malesuada molestie enim sed aliquet. Mauris blandit malesuada tellus, ut tincidunt metus varius vitae. Quisque ut vehicula ex. Donec gravida lacinia nulla.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /#1 COMMENT -->
                                <!-- #2 COMMENT -->
                                <div class="comment_single_wrap">
                                    <div class="comment_single">
                                        <div class="person_info">
                                            <div class="info">
                                                <div class="img_holder">
                                                    <img src="img/blog/single1-com2.jpg" alt="" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="person_comment">
                                            <div class="inner">
                                                <h5>Terry Duncan</h5>
                                                <span><span class="date">1 Month ago</span><a href="#">Reply</a></span>
                                                <p>Curabitur eget varius augue, non feugiat nisl. Duis fermentum est vel quam pharetra accumsan. Nulla sodales leo nisl, vel dignissim lacus finibus sit amet. Pellentesque elementum lacinia leo eget pulvinar. In hac habitasse platea dictumst. Vivamus sapien metus, congue sed ipsum eu, pharetra porta erat. Pellentesque vitae enim pharetra, pulvinar nibh eget, posuere diam. Donec aliquet venenatis mauris. Ut suscipit, turpis in iaculis porta, nibh neque ultrices justo, in consequat enim risus id nisi. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum ut ante mi. Donec vitae maximus lorem, ac facilisis diam. Aliquam semper justo arcu, quis mollis nibh auctor nec. Curabitur ac urna urna. Donec sagittis volutpat metus, et sagittis tortor. Nulla tincidunt nisl id sapien rhoncus, sit amet placerat turpis finibus.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /#2 COMMENT -->
                            </div>
                            <!-- /COMMENTS -->
                            <!-- ADDING A COMMENT -->
                            <div class="add_comment_wrap">
                                <div class="add_comment">
                                    <div class="title_holder">
                                        <h3>Write a Comment</h3>
                                    </div>
                                    <form>
                                        <div class="your-comment">
                                            <label>Your Comment<span>*</span></label>
                                            <textarea id="creator-comment" cols="3" rows="10" placeholder="It Was So Good..."></textarea>
                                        </div>
                                        <div class="your-name">
                                            <label>Your Name<span>*</span></label>
                                            <input type="text" id="creator-name" placeholder="John Doe" />
                                        </div>
                                        <div class="your-email">
                                            <label>Your Email<span>*</span></label>
                                            <input type="text" id="creator-email" placeholder="example@gmail.com" />
                                        </div>
                                        <div class="your-website">
                                            <label>Your Website</label>
                                            <input type="text" id="creator-website" placeholder="http://www.myfotofly.com" />
                                        </div>
                                        <div class="your-button">
                                            <input type="submit" id="creator-submit" value="Submit Your Comment" />
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!-- /ADDING A COMMENT -->

                        </div>
                    </div>
                    <!-- /POST COMMENT -->

                </div>
            </div>
        </div>
    </div>
</div>
<!-- /BLOG SINGLE -->