@{
	ViewData["Title"] = "Blog";
}


<!-- SPLITSCREEN -->
<div class="pxsnap_page_splitscreen blog_page">
	<div class="pxsnap_page_splitleft">
		<div class="splitscreen_title">
			<div class="in">

				<div class="title_holder">
					<h1>Blog Page</h1>
					<p>Cras aliquam sagittis urna in consectetur. Aenean felis lacus.</p>
				</div>

			</div>
		</div>
		<div class="splitscreen_title_back">
			<div class="bg"></div>
		</div>
	</div>
	<div class="pxsnap_page_splitright">
		<div class="in">

			<!-- RIGHT CONTENT HERE -->
			<!-- BREADCRUMBS -->
			<div class="pxsnap_breadcrumbs">
				<div class="pxsnap_breadcrumbs_content">
					<div class="container">
						<p>
							<a asp-controller="Home" asp-action="Index">Home</a>
							/
							<span>Blog</span>
						</p>
					</div>
				</div>
			</div>
			<!-- /BREADCRUMBS -->
			<!-- BLOG -->
			<div class="pxsnap_blog_wrap">
				<div class="pxsnap_blog">
					<div class="blog">
						<div class="container">
							<div class="blog_wrapper">

								<div class="blog_content">
									<ul class="pxsnap_masonry mypost">

										<li class="pxsnap_masonry_in">
											<div class="post">
												<div class="img_holder">
													<a asp-controller="Blog" asp-action="Blog">
														<img src="img/gallery/01.jpg" alt="" />
													</a>
												</div>
												<div class="title_holder">
													<span><a class="category" asp-controller="Blog" asp-action="BlogSingle">Fashion</a><span class="date">April 01</span></span>
													<h3><a asp-controller="Blog" asp-action="BlogSingle">The Miracle Of Fashion</a></h3>
													<p>Cras aliquam sagittis urna in consectetur. Aenean felis lacus.Cras aliquam sagittis urna in consectetur. Aenean felis lacus.</p>
												</div>
											</div>
										</li>

										<li class="pxsnap_masonry_in">
											<div class="post">
												<div class="img_holder">
													<a href="blog_single.html">
														<img src="img/gallery/02.jpg" alt="" />
													</a>
												</div>
												<div class="title_holder">
													<span><a class="category" href="blog_single.html">Fashion</a><span class="date">April 01</span></span>
													<h3><a href="blog_single.html">Fashion Expert Interview</a></h3>
													<p>Cras aliquam sagittis urna in consectetur. Aenean felis lacus.Cras aliquam sagittis urna in consectetur. Aenean felis lacus.</p>
												</div>
											</div>
										</li>

										<li class="pxsnap_masonry_in">
											<div class="post">
												<div class="img_holder">
													<a href="blog_single.html">
														<img src="img/gallery/03.jpg" alt="" />
													</a>
												</div>
												<div class="title_holder">
													<span><a class="category" href="blog_single.html">Travel</a><span class="date">April 01</span></span>
													<h3><a href="blog_single.html">How To Use travel To Desire</a></h3>
													<p>Cras aliquam sagittis urna in consectetur. Aenean felis lacus.Cras aliquam sagittis urna in consectetur. Aenean felis lacus.</p>
												</div>
											</div>
										</li>

										<li class="pxsnap_masonry_in">
											<div class="post">
												<div class="img_holder">
													<a href="blog_single.html">
														<img src="img/gallery/04.jpg" alt="" />
													</a>
												</div>
												<div class="title_holder">
													<span><a class="category" href="blog_single.html">Fashion</a><span class="date">April 01</span></span>
													<h3><a href="blog_single.html">The Lazy Way To fashion</a></h3>
													<p>Cras aliquam sagittis urna in consectetur. Aenean felis lacus.Cras aliquam sagittis urna in consectetur. Aenean felis lacus.</p>
												</div>
											</div>
										</li>

										<li class="pxsnap_masonry_in">
											<div class="post">
												<div class="img_holder">
													<a href="blog_single.html">
														<img src="img/gallery/05.jpg" alt="" />
													</a>
												</div>
												<div class="title_holder">
													<span><a class="category" href="blog_single.html">Fashion</a><span class="date">April 01</span></span>
													<h3><a href="blog_single.html">The A - Z Guide Of fashion</a></h3>
													<p>Cras aliquam sagittis urna in consectetur. Aenean felis lacus.Cras aliquam sagittis urna in consectetur. Aenean felis lacus.</p>
												</div>
											</div>
										</li>

										<li class="pxsnap_masonry_in">
											<div class="post">
												<div class="img_holder">
													<a href="blog_single.html">
														<img src="img/gallery/06.jpg" alt="" />
													</a>
												</div>
												<div class="title_holder">
													<span><a class="category" href="blog_single.html">Travel</a><span class="date">April 01</span></span>
													<h3><a href="blog_single.html">How To Save Money with travel?</a></h3>
													<p>Cras aliquam sagittis urna in consectetur. Aenean felis lacus.Cras aliquam sagittis urna in consectetur. Aenean felis lacus.</p>
												</div>
											</div>
										</li>

										<li class="pxsnap_masonry_in">
											<div class="post">
												<div class="img_holder">
													<a href="blog_single.html">
														<img src="img/gallery/07.jpg" alt="" />
													</a>
												</div>
												<div class="title_holder">
													<span><a class="category" href="blog_single.html">Fashion</a><span class="date">April 01</span></span>
													<h3><a href="blog_single.html">The Ultimate Guide To fashion</a></h3>
													<p>Cras aliquam sagittis urna in consectetur. Aenean felis lacus.Cras aliquam sagittis urna in consectetur. Aenean felis lacus.</p>
												</div>
											</div>
										</li>

										<li class="pxsnap_masonry_in">
											<div class="post">
												<div class="img_holder">
													<a href="blog_single.html">
														<img src="img/gallery/08.jpg" alt="" />
													</a>
												</div>
												<div class="title_holder">
													<span><a class="category" href="blog_single.html">Fashion</a><span class="date">April 01</span></span>
													<h3><a href="blog_single.html">Get Rid of fashion Once and For All</a></h3>
													<p>Cras aliquam sagittis urna in consectetur. Aenean felis lacus.Cras aliquam sagittis urna in consectetur. Aenean felis lacus.</p>
												</div>
											</div>
										</li>

										<li class="pxsnap_masonry_in">
											<div class="post">
												<div class="img_holder">
													<a href="blog_single.html">
														<img src="img/gallery/09.jpg" alt="" />
													</a>
												</div>
												<div class="title_holder">
													<span><a class="category" href="blog_single.html">Fashion</a><span class="date">April 01</span></span>
													<h3><a href="blog_single.html">14 Days To A Better fashion</a></h3>
													<p>Cras aliquam sagittis urna in consectetur. Aenean felis lacus.Cras aliquam sagittis urna in consectetur. Aenean felis lacus.</p>
												</div>
											</div>
										</li>

									</ul>
								</div>

								<!-- PAGINATION -->
								<div class="pxsnap_pagination">
									<div class="pagination">
										<ul>
											<li><a class="active" href="#">1</a></li>
											<li><a href="#">2</a></li>
											<li><a href="#">3</a></li>
											<li><a href="#">4</a></li>
											<li class="next"><a href="#">Next</a></li>
										</ul>
									</div>
								</div>
								<!-- /PAGINATION -->

							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /BLOG -->
			<!-- FOOTER -->
			<footer class="pxsnap_ab_footer" style="padding:10%;">
				<div class="copyright">
					<span>Copyright 2025. Designed by <a href="#">PixelSnapshot</a></span>
				</div>
			</footer>
			<!-- /FOOTER -->
			<!-- /RIGHT CONTENT HERE -->

		</div>
	</div>
</div>
<!-- /SPLITSCREEN -->