@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Album 1";
}

<div class="pxsnap_portfolio_single">
    <div class="pxsnap_portfolio_single_inner">
        <div class="container">
            <div class="portfolio_single">

                <!-- BREADCRUMBS -->
                <div class="pxsnap_breadcrumbs">
                    <div class="pxsnap_breadcrumbs_content">
                        <div class="container">
                            <p>
                                <a asp-controller="Home" asp-action="Index">Home</a>
                                /
                                <a asp-controller="Portfolio" asp-action="Index">Portfolios</a>
                                /
                                <span>Album 1</span>
                            </p>
                        </div>
                    </div>
                </div>
                <!-- /BREADCRUMBS -->

                <div class="list">
                    <ul class="pxsnap_masonry">
                        <li class="pxsnap_masonry_in">
                            <div class="single">
                                <img src="~/img/gallery/01.jpg" alt="" />
                            </div>
                        </li>
                        <li class="pxsnap_masonry_in">
                            <div class="single">
                                <img src="~/img/gallery/02.jpg" alt="" />
                            </div>
                        </li>
                        <li class="pxsnap_masonry_in">
                            <div class="single">
                                <img src="~/img/gallery/03.jpg" alt="" />
                            </div>
                        </li>
                        <li class="pxsnap_masonry_in">
                            <div class="single">
                                <img src="~/img/gallery/04.jpg" alt="" />
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="info">
                    <p>Aliquam ullamcorper ex nunc, eu ultricies neque sagittis at. Praesent porta, tortor
                        non commodo fermentum, nunc urna egestas leo, ac tristique turpis nunc sed ante. In
                        ultrices pharetra leo quis porta. In sit amet scelerisque urna, tincidunt commodo
                        sem. Suspendisse potenti. Vivamus eu ornare ex. Sed sollicitudin pellentesque felis.
                        Donec nisi mi, fringilla id libero vel, semper lobortis tortor.</p>
                    <p>Proin lobortis posuere velit a fringilla. Etiam in ante vel lacus placerat posuere.
                        In ligula dolor, pharetra quis ante et, vestibulum pellentesque lacus. Duis laoreet,
                        felis consectetur dictum rutrum, velit libero tincidunt justo, eu gravida tellus
                        justo non mi. Proin vel auctor quam, in mollis purus.</p>
                    <p>Integer varius finibus justo, sit amet bibendum dolor luctus quis. Nam dapibus ante
                        et rhoncus finibus. Nam nec porta lectus, eget efficitur dolor. Phasellus a metus eu
                        sapien viverra volutpat. Vivamus congue libero sit amet lectus aliquet placerat.</p>
                </div>

                <div class="pxsnap_prevnext">
                    <div class="prevnext_inner pxsnap_miniboxes">
                        <div class="arrow pxsnap_minibox" style="height: 201px;">
                            <div class="prev">
                                <div class="pp">
                                    <p>
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px"
                                            y="0px" width="400.004px" height="400.004px" viewBox="0 0 400.004 400.004"
                                            style="enable-background:new 0 0 400.004 400.004;" xml:space="preserve"
                                            class="svg replaced-svg">
                                            <g>
                                                <path
                                                    d="M382.688,182.686H59.116l77.209-77.214c6.764-6.76,6.764-17.726,0-24.485c-6.764-6.764-17.73-6.764-24.484,0L5.073,187.757   c-6.764,6.76-6.764,17.727,0,24.485l106.768,106.775c3.381,3.383,7.812,5.072,12.242,5.072c4.43,0,8.861-1.689,12.242-5.072   c6.764-6.76,6.764-17.726,0-24.484l-77.209-77.218h323.572c9.562,0,17.316-7.753,17.316-17.315   C400.004,190.438,392.251,182.686,382.688,182.686z">
                                                </path>
                                            </g>
                                            <g>
                                            </g>
                                            <g>
                                            </g>
                                            <g>
                                            </g>
                                            <g>
                                            </g>
                                            <g>
                                            </g>
                                            <g>
                                            </g>
                                            <g>
                                            </g>
                                            <g>
                                            </g>
                                            <g>
                                            </g>
                                            <g>
                                            </g>
                                            <g>
                                            </g>
                                            <g>
                                            </g>
                                            <g>
                                            </g>
                                            <g>
                                            </g>
                                            <g>
                                            </g>
                                        </svg>
                                        <span>Previous</span>
                                    </p>
                                </div>
                                <h3><a asp-controller="Portfolio" asp-action="Index">Portfolios</a></h3>
                            </div>
                        </div>
                        <div class="arrow pxsnap_minibox" style="height: 201px;">
                            <div class="next">
                                <div class="pp">
                                    <p>
                                        <span>Next</span>
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px"
                                            y="0px" width="400.004px" height="400.004px" viewBox="0 0 400.004 400.004"
                                            style="enable-background:new 0 0 400.004 400.004;" xml:space="preserve"
                                            class="svg replaced-svg">
                                            <g>
                                                <path
                                                    d="M382.688,182.686H59.116l77.209-77.214c6.764-6.76,6.764-17.726,0-24.485c-6.764-6.764-17.73-6.764-24.484,0L5.073,187.757   c-6.764,6.76-6.764,17.727,0,24.485l106.768,106.775c3.381,3.383,7.812,5.072,12.242,5.072c4.43,0,8.861-1.689,12.242-5.072   c6.764-6.76,6.764-17.726,0-24.484l-77.209-77.218h323.572c9.562,0,17.316-7.753,17.316-17.315   C400.004,190.438,392.251,182.686,382.688,182.686z">
                                                </path>
                                            </g>
                                            <g>
                                            </g>
                                            <g>
                                            </g>
                                            <g>
                                            </g>
                                            <g>
                                            </g>
                                            <g>
                                            </g>
                                            <g>
                                            </g>
                                            <g>
                                            </g>
                                            <g>
                                            </g>
                                            <g>
                                            </g>
                                            <g>
                                            </g>
                                            <g>
                                            </g>
                                            <g>
                                            </g>
                                            <g>
                                            </g>
                                            <g>
                                            </g>
                                            <g>
                                            </g>
                                        </svg>
                                    </p>
                                </div>
                                <h3><a asp-controller="Portfolio" asp-action="Album2">Album 2</a></h3>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- FOOTER -->
                <footer class="pxsnap_ab_footer" style="padding:10%;">
                    <div class="copyright">
                        <span>Copyright 2025. Designed by <a href="#">PixelSnapshot</a></span>
                    </div>
                </footer>
                <!-- /FOOTER -->

            </div>
        </div>
    </div>
</div>