
@{
    ViewData["Title"] = "About";
}

<!-- SPLITSCREEN -->
<div class="pxsnap_page_splitscreen page_about">
	<div class="pxsnap_page_splitleft">
		<div class="splitscreen_title">
			<div class="in">
			</div>
		</div>
		<div class="splitscreen_title_back">
			<div class="bg"></div>
		</div>
	</div>
	<div class="pxsnap_page_splitright">
		<div class="in">

			<!-- RIGHT CONTENT HERE -->

			<div class="pxsnap_about">
				<div class="pxsnap_about_in">
					<div class="container">
						<div class="about">

							<div class="title_holder">
								<h3>About Me</h3>
							</div>

							<div class="info_holder">
								<p>
									Aliquam ullamcorper ex nunc, eu ultricies neque sagittis at. Praesent
									porta, tortor non commodo fermentum, nunc urna egestas leo, ac tristique
									turpis nunc sed ante. In ultrices pharetra leo quis porta. In sit amet
									scelerisque urna, tincidunt commodo sem. Suspendisse potenti. Vivamus eu
									ornare ex. Sed sollicitudin pellentesque felis. Donec nisi mi, fringilla
									id libero vel, semper lobortis tortor.
								</p>
								<p>
									Proin lobortis posuere velit a fringilla. Etiam in ante vel lacus
									placerat posuere. In ligula dolor, pharetra quis ante et, vestibulum
									pellentesque lacus. Duis laoreet, felis consectetur dictum rutrum, velit
									libero tincidunt justo, eu gravida tellus justo non mi. Proin vel auctor
									quam, in mollis purus.
								</p>
								<p>
									Integer varius finibus justo, sit amet bibendum dolor luctus quis. Nam
									dapibus ante et rhoncus finibus. Nam nec porta lectus, eget efficitur
									dolor. Phasellus a metus eu sapien viverra volutpat. Vivamus congue
									libero sit amet lectus aliquet placerat.
								</p>
							</div>

							<div class="pxsnap_social_icons">
								<label>Contact:</label>
								<ul>
									<li><a href="#"><i class="xcon-facebook-1"></i></a></li>
									<li><a href="#"><i class="xcon-twitter-1"></i></a></li>
									<li><a href="#"><i class="xcon-instagram"></i></a></li>
									<li><a href="#"><i class="xcon-pinterest-1"></i></a></li>
									<li><a href="#"><i class="xcon-gplus-1"></i></a></li>
								</ul>
							</div>

							<!-- Signature -->
							<!-- <div class="signature">
								<img src="" alt="sign-dark placeholder" />
							</div> -->
							<!-- FOOTER -->
							<footer class="pxsnap_ab_footer" style="padding:10%;">
								<div class="copyright">
									<span>Copyright 2025. Designed by <a href="#">PixelSnapshot</a></span>
								</div>
							</footer>
							<!-- /FOOTER -->

						</div>
					</div>
				</div>
			</div>



			<!-- /RIGHT CONTENT HERE -->

		</div>
	</div>
</div>
<!-- /SPLITSCREEN -->