@{
    ViewData["Title"] = "Contact";
}

@{
    ViewData["IsHome"] = true;
}

<!-- HERO HEADER -->
<div class="pxsnap_heroheader page_contact" data-text-color="#fff" data-window-height="on"
     data-padding-top="" data-padding-bottom="" data-bg-color="#3d0303" data-bg-opacity="0.6">
    <div class="pxsnap_heroheader_inner">

        <div class="heroheader_content_wrap">
            <div class="heroheader_content_inner">

                <div class="heroheader_content">
                    <div class="content_inner">

                        <!-- HERO CONTENT HERE -->


                        <div class="pxsnap_contact">
                            <div class="pxsnap_contact_in">
                                <div class="container">
                                    <div class="contact">

                                        <!-- BREADCRUMBS -->
                                        <div class="pxsnap_breadcrumbs">
                                            <div class="pxsnap_breadcrumbs_content">
                                                <div class="container">
                                                    <p>
                                                        <a href="index.html">Home</a>
                                                        /
                                                        <span>Contact</span>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /BREADCRUMBS -->

                                        <div class="title_holder">
                                            <h3>Get in Touch with Us</h3>
                                        </div>

                                        <div class="contact__form">
                                            <form action="/" method="post" class="contact_form"
                                                  id="contact_form">

                                                <!-- RETURN MESSAGES -->
                                                <div class="returnmessage"
                                                     data-success="Your message has been received, We will contact you soon.">
                                                </div>
                                                <div class="empty_notice">
                                                    <span>
                                                        Please Fill Required
                                                        Fields
                                                    </span>
                                                </div>
                                                <!-- /RETURN MESSAGES -->
                                                <ul>
                                                    <li>
                                                        <div class="item">
                                                            <input type="text" id="name"
                                                                   placeholder="Your Name" />
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="item">
                                                            <input type="text" id="email"
                                                                   placeholder="example@mail.com" />
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="item">
                                                            <input type="text" id="subject"
                                                                   placeholder="Subject" />
                                                        </div>
                                                    </li>
                                                </ul>
                                                <div class="clearfix"></div>
                                                <div class="message">
                                                    <textarea id="message" placeholder="Message" cols="3"
                                                              rows="5"></textarea>
                                                </div>

                                                <div class="button">
                                                    <input type="button" class="pxsnap_contactsendbtn"
                                                           value="Send Message" />
                                                </div>
                                            </form>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>


                        <!-- /HERO CONTENT HERE -->

                    </div>
                </div>

            </div>
        </div>

        <div class="heroheader_bg_wrap">
            <div class="overlay_color"></div>
            <div class="overlay_image"></div>
            <div class="overlay_video"></div>
        </div>


    </div>
</div>
<!-- /HERO HEADER -->