@{
    ViewData["Title"] = "Error404";
}

@{
    ViewData["IsHome"] = true;
}

<!-- HERO HEADER -->
<div class="pxsnap_heroheader page_error" data-text-color="#fff" data-window-height="on" data-padding-top=""
     data-padding-bottom="" data-bg-color="#3d0303" data-bg-opacity="0.6">
    <div class="pxsnap_heroheader_inner">

        <div class="heroheader_content_wrap">
            <div class="heroheader_content_inner">

                <div class="heroheader_content">
                    <div class="content_inner">

                        <!-- HERO CONTENT HERE -->

                        <div class="pxsnap_errorpage">
                            <div class="pxsnap_errorpage_in">
                                <div class="container">
                                    <div class="errorpage">


                                        <!-- BREADCRUMBS -->
                                        <div class="pxsnap_breadcrumbs">
                                            <div class="pxsnap_breadcrumbs_content">
                                                <div class="container">
                                                    <p>
                                                        <a href="index.html">Home</a>
                                                        /
                                                        <span>Page 404</span>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /BREADCRUMBS -->

                                        <div class="title_holder">
                                            <h3>Page Not Found</h3>
                                            <h1>404</h1>
                                            <p>
                                                Sorry, but you are looking for something that is not here.
                                            </p>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>


                        <!-- /HERO CONTENT HERE -->

                    </div>
                </div>

            </div>
        </div>

        <div class="heroheader_bg_wrap">
            <div class="overlay_color"></div>
            <div class="overlay_image"></div>
            <div class="overlay_video"></div>
        </div>


    </div>
</div>
<!-- /HERO HEADER -->
