@{
    ViewData["Title"] = "Home Page";
}

@{
    ViewData["IsHome"] = true;
}


<!-- FLEXSLIDER -->
<div class="pxsnap_mainslider">
    <div class="flexslider">
        <ul class="slides">
            <li>
                <div class="overlay">
                    <div class="overlay_img"></div>
                    <div class="overlay_color"></div>
                </div>
            </li>
            <li>
                <div class="overlay">
                    <div class="overlay_img"></div>
                    <div class="overlay_color"></div>
                </div>
            </li>
            <li>
                <div class="overlay">
                    <div class="overlay_img"></div>
                    <div class="overlay_color"></div>
                </div>
            </li>
            <li>
                <div class="overlay">
                    <div class="overlay_img"></div>
                    <div class="overlay_color"></div>
                </div>
            </li>
            <li>
                <div class="overlay">
                    <div class="overlay_img"></div>
                    <div class="overlay_color"></div>
                </div>
            </li>
            <li>
                <div class="overlay">
                    <div class="overlay_img"></div>
                    <div class="overlay_color"></div>
                </div>
            </li>
            <li>
                <div class="overlay">
                    <div class="overlay_img"></div>
                    <div class="overlay_color"></div>
                </div>
            </li>
        </ul>
    </div>
</div>
<!-- /FLEXSLIDER -->